body {
    background-color: rgb(61, 211, 166);
}

h1 {
    color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.fcc-btn{
  background-color: rgb(220, 20, 120);
  border:none;
  padding: 10px 15px;
  text-decoration: none;

}
.img {
     height: "300";
     width: "350";
}
